.contenedor {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header header"
    "contenido sidebar1"
    "footer footer";
}

.contenedor .header{
    background: red;
    grid-area: header;
}

.contenedor .contenido{
    background: yellow;
    grid-area: contenido;
}

.contenedor .sidebar{
    background: blue;
    grid-area: sidebar1;
}

.contenedor .footer{
    background: purple;
    grid-area: footer;
}

.navegacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "nav1 nav2";
}

.navegacion .nav1{
    background: gray;
}
