@media (max-width: 768px) {

    nav {

        background-color: $color_primario;
        width: 100vw;

        .logo-items {

            width: 230px;
            padding-left: 35px;
        }

        .nav-items {

            flex-direction: column;
            position: fixed;
            left: 0;
            top: 90px;
            width: 100%;
            background-color: $color_primario;

            height: calc(100%- 120px);
            overflow-y: auto;

        }

        .menu_visible{
            display: block;
        }

        .menu_invisible{
            display: none;
        }

        ul {

            li a {
                
                line-height: 50px;
                margin: 0px;

                &:hover {
                    background: $color_3;
                    padding: 15px 100vw;
                    color: #fff;
                    
                }
            }
        }

        .fa-bars {
            display: block;
            margin-left: auto;
            cursor: pointer;
            
        }

        
    }


}

@media (max-width: 576px) {
    nav {
        background-color: $color_primario;
    }
}


// 576px para teléfonos móviles
// 768px para las tabletas
// 992px para portátiles
// 1200px para los grandes dispositivos

// // Small devices (landscape phones, 576px and up)
// @media (max-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (max-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (max-width: 992px) { ... }

// // X-Large devices (large desktops, 1200px and up)
// @media (max-width: 1200px) { ... }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (max-width: 1400px) { ... }

