/* @import url("grid.css"); */
/* https://colorhunt.co/palette/f4f4f2e8e8e8bbbfca495464 */
/* @import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Odibee+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #F4F4F2;
}

header .flex_nav{
    position: fixed;
    width: 100vw;
    align-items: center;
     /* background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ); */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
}

.box_logo{
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 3px;
    font-family: 'Odibee Sans', cursive;
    font-size: 30px;
    flex-basis: 20%;
}

/* .circulo {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #5cb85c;
    margin: 0;
    justify-content: center;
} */
.btn_menu{
    color:white;
}

.box_menu{
    text-align: center;
    padding: 15px 20px;
    font-size: 30px;
    flex-basis: 80%;
}

.box_menu div:first-child{
    margin: 0;
    padding: 0;
    display:flex;
}

.box_menu div div:first-child{
    background-color: red;
    flex-grow: 2;
}
.box_menu div div:nth-child(2){
    background-color: green;
    flex-grow: 1;
    justify-content: center;
}

.box_menu  ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.box_menu ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    
}

/* 

header ul li a{
    display: none; 
    
}

header ul li a:hover{
    background: #495464;
    border-radius: 6px;
}

header div:hover {
    background-color: blue;
    
   
}    */


section .box1 {
    
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

section .box2{

    background-color: blue;
    height: 200px;
}