/* @import url("grid.css"); */
/* https://colorhunt.co/palette/f4f4f2e8e8e8bbbfca495464 */
/* @import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Odibee+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #F4F4F2;
}

nav{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 90px;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #4954648a;
}

nav .logo{
    padding: 0px 5px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 3px;
    font-family: 'Odibee Sans', cursive;
    font-size: 30px;
}

/* .circulo {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #5cb85c;
    margin: 0;
    justify-content: center;
} */

.texto {
    margin-left: 10px;
    float: right;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: #495464;
    border-radius: 6px;
}


section .box1 {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}