@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import "funciones.scss";
@font-face {
    font-family: Sharp Sans;
    src: url('font/Sharp_Sans/Sharp_Sans.otf');
}

::-webkit-scrollbar {
    width: 0px;
}

$color_primario: #d6eef1;
$color_secundario: #17494d;
$color_3: #06615a;
$color_letra: #17494d;
$font_letra: 'Sharp Sans', 'Arial', 'sans-serif';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border-width: 0.1px;
    border-style: dashed;
    border-color: #dd6e81;

}

// .box{
//     border-width: 0.1px; 
//     border-style: dashed; 
//     border-color: #dd6e81;

// }

body {
    background-color: $color_primario;
    margin: 0px 120px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    @include flex;
    align-items: center;    
    @include tamano_contenedorhw(100px, 1120px);

    .logo-items {
        @include flex;
        flex-grow: 1;
        width: 230px;
    }

    .nav-items {
        
        @include flex;
        flex-grow: 7;
        justify-content: space-between;
        align-items: center;
    }

    ul {

        li a {
            margin: 25px;
            padding: 15px 40px;
            text-decoration: none;
            font-family: $font_letra;
            font-size: 12px;
            font-weight: 600;
            color: $color_letra;

            &:hover {
                background-color: $color_3;
                color: #fff;
            }
        }
    }

}

.logo {
    font-family: 'Comforter Brush', cursive;
    font-size: 40px;
    font-weight: bold;
    color: $color_letra;

}

.contenedores {
    @include tamano_contenedorhw(50px, 400px);
    @include flex;
}

.cont_principal {

    @include tamano_contenedorhw(400px, auto);
    @include flex;
    margin-bottom: 30px;

    .principal_1 {

        justify-content: center;

        img {
            @include tamano_contenedorhw(400px, 400px);
        }

    }

    .pricp_2 {
        width: 40vw;

        p,
        h1 {
            font-family: $font_letra;
        }

        .social_media {
            ul {
                @include flex;
            }

            a {
                cursor: pointer;
                text-decoration: underline;

                &:hover {
                    background-color: $color_3;

                }
            }

        }
    }

    h1 {
        color: $color_letra;
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    p {
        display: block;
        text-align: justify;
        color: $color_letra;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

}

$color_redes: #3b5998,#0e76a8,#333,#ea4335;
$nombre_redes: facebook,linkedin,github,google;

//@each  for

// .facebook {
//     background-color: #3b5998;
// }

// .linkedin {
//     background-color: #0e76a8;
// }

// .github {
//     background-color: #333;
// }

// .google {
//     background-color: #ea4335;
// }

.icon-button {
    margin-bottom: 10px;
    color: #fff;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
    margin-bottom: 10px;
    transition: 0.2s ease-in;
}

.btns_pricp {
    display: flex;
}

.main_btn {
    font-family: $font_letra;
    background-color: $color_secundario;
    border: 1px solid $color_secundario;
    color: #fff;
    font-weight: 700;
    padding: 13px 22px;
    margin-right: 50px;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background-color: $color_3;
    }
}

.cont_secundario {

    width: auto;
    height: 400px;
    display: flex;
    flex-direction: row;
}

// .triangulo-equilatero-bottom-left {
//     width: 0; background-color:#43b7af;
//     height: 0;
//     border-right: 444px solid transparent;
//     border-top: 200px solid  transparent;
//     border-left: 683px solid #00998e;
//     border-bottom: 200px solid #00998e;
// }

.cont_terceario {
    background-color: $color_primario;
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: row;

}

.software-skill {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    align-items: center;

    .software-skill-inline {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;

        i,
        p {
            color: $color_secundario;
        }
    }

}