
$color_primario: #d6eef1;
$color_secundario: #17494d;

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $color_primario;
}

header{
    display: flex;
    flex-direction: row;
}

nav{
   background-color: $color_secundario; 
   height: 100px; 
   padding: 0px 16px;
   margin: 0px 130px;
   justify-content: center;
   width: 100vw;
   
}

.logo{
    padding-top: 30px;
}

p {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 30px;
}