html {
    
    box-sizing: border-box;
    font-size: 63.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
 
body {
    background-image: $color_primario;
    font-size: 1.6rem; // 1rem = 10px
    max-width: 99.2rem;
    margin: 0 auto; 

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_general{
    max-width: 99.2rem;
    text-align: center;
}

.contenedores {
    height: 45rem;
    width: 40rem;
    display: flex;
    flex-direction: row;
}