.contenedores {
    height: 35rem;
    width: 40rem;
}

.saludo {    

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 20rem;

    @include tablet {

        grid-template-columns: 1fr;

        margin-top: 10rem;
    }

    .saludo__img {   

        display: grid;
        justify-items: center;
        align-items: center;
        
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 15rem;
        
        img {
            height: 27rem;
            width: 27rem;
        }

        @include telefono{
            padding: 3rem;
            padding-bottom: 0px;
        }

    }

    .saludo__text{ 
        
        width: 100%;
        justify-content: center;

    }

    h1 {
        margin-left: 3rem;
    }



}

.active_barss{
    margin-top: 30rem;
}

.saludo__btn {
    display: flex;
    justify-content: center;
}

.main_btn {
    font-family: $font_letra;
    background-color: transparent;
    border: 0.1rem solid $color_secundario;
    color: #fff;
    font-weight: 700;
    padding: 1.3rem 2.2rem;
    margin: 2rem;
    text-transform: uppercase;
    border-radius: 0.6rem;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 2rem;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background-color: $color_3;
    }
}