.skill {

    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 40rem; 
    
    .skill__tecnologias{ background-color: tomato;
        
        width: 100%;
        padding: 2rem;

        h2{
            margin: 1.5rem 2rem;
        }
    }

    .skill_nose{ background-color: gray;
        width: 100%;
    }
    
}

.software-skill {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;

    list-style: none;
    font-size: 1rem;

    overflow: hidden;
    padding: 0;
    margin: 0;

    .software-skill-inline {
        // display: inline-block;
        margin-right: 2rem;
        margin-bottom: 2rem;

    }

}